[Unit]
Description=DistriChat server application
After=multi-user.target

[Service]
Type=simple
User=tonibom
Restart=on-failure
RestartSec=1
ExecStart=/usr/bin/python3 /home/tonibom/DistriChat/districhat/server/server_handler.py

[Install]
WantedBy=multi-user.target